#about {
  height: 100vh;
  background: #F1F1E4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .bg {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(40%);
  }
  .container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    h2 {
      font-weight: 600;
    }
  }
  p {
    margin-top: 5%;
    font-size: 18px;
    padding: 0 15px 0 15px;
  }
}
@media (min-width: 992px){
  #about {
    p {
      font-size: 24px;
      font-weight: 500;
      padding: 0;
    }
  }
}
