#blocation{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    width: 100%;
    height: 100px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #c0b536;
  }
  .locat {
    width: 94%;
    margin: 2% 0 2% 0;
    height: 96%;
    position: absolute;
    top: 0;
    padding: 0 3% 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .my-1 {
    width: 100%;
    font-size: 20px
  }
}