#bnews {
  height: 100vh;
  .container {
    height: 100%;
  }
  h1 {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .new {
    height: 85%;
    font-size: 18px;
  }
  .pagination {
    width: 100%;
  }
  .page-item.active .page-link {
    background-color: #CCCC41;
    border-color: #C0C103;
  }
}
#add-content,
#edit-content {
  height: 100px;
}
#menu-table{
  height: 50%;
  text-align:center;
  td {
    vertical-align:middle;
  }
}