#burgermenu{
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    cursor: pointer;
  }
  .bm-burger-button.hidden {
    display: none;
  }
  .bm-burger-bars {
    background-color: #C0C103 !important;
  }
  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .icon-size {
    color: #fff !important;
    width: 40% !important;
    height: 100%;
  }
  .bm-cross-button {
    height: 50px !important;
    width: 50px !important;
  }
  .bm-cross-button.hidden {
    display: none;
  }
  .bm-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #C0C103 !important;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 20px;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
  }
  .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }
  // navbar
  .nav-link {
    color: #000;
    font-size: 20px;
    width: 100%;
    text-align: left;
    &:hover{
        color:#fff;
        font-weight: bold;
    }
  }
  img {
    margin-right: 5%;
  }
}
.bm-overlay {
  background: rgba(255, 255, 255, 0.3) !important;
}
