// carousel
#carousel {
  height: 100vh;
  position: relative;
  .vue-flux {
    height: 100%;
  }
  .textra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    z-index: 999;
    text-shadow: 0 5px 10px black;
  }
  .swiper-container{
    height: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next{
    transition: 0.5s;
    background-size: 80%;
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover{
    transform: scale(1.2);
  }
  .swiper-button-prev:focus,
  .swiper-button-next:focus{
    outline: none;
  }
  .swiper {
    .swiper-slide{
      height: 100% !important;
      .img-scale {
        width: 100%;
        height: 100%;
        margin: 0;
        animation: img-scale 20s 1s 1 ease forwards;
      }
    }
  }
}
@keyframes img-scale {
  from{transform: scale(1);}
  to{transform: scale(1.2);}
}
/* 裝置斷點控制區 --------------------------*/
/* 992px 以上 */
@media (min-width: 992px){
  #carousel { 
    .textra {
      font-size: 40px;
    }
  }
}