#check {
  height: 100vh;
  font-size: 20px;
  background: #F1F1E4;
  display: flex;
  .container{
    padding: 2%;
  }
  .total,
  .info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    div {
      margin-bottom: 1%;
    }
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      margin-right: 3%;
    }
  }
}