#check {
  height: 100vh;
  font-size: 20px;
  .container{
    height: 100%;
    padding: 2%;
    h2 {
      margin: 8px 0 23px 0;
    }
  }
  .total,
  .info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    div {
      margin-bottom: 1%;
    }
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      margin-right: 3%;
    }
  }
}