#contact {
  height: 100vh;
  background: #F1F1E4;
  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form {
    padding: 0 2% 0 2%;
    h2 {
      font-weight: 600;
      margin-bottom: 5%;
    }
  }
  input,
  textarea,
  #send{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #000;
    border: solid 1px #424215;
    outline: none;
  }
  input,
  textarea{
    background: transparent;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  input {
    width: 100%;
    height: 70px;
    padding: 0px 15px 0px 15px;
    border-bottom: none;
  }

  textarea {
    width: 100%;
    height: 200px;
    max-height: 100%;
    padding: 15px;
  }

  #send {
    padding: 0;
    margin: -5px 0px 0px 0px;
    cursor: pointer;
    border-top: none;
    &:hover {
      background: #C2460E;
      color: #fff;
      font-size: 18px;
      box-shadow: 2px 2px 5px black;
    }
    &:active {
      box-shadow: inset 2px 2px 5px black;
      padding: 1% 0 0 0;
    }
  }
}
/* 裝置斷點控制區 --------------------------*/
@media (min-width: 576px){
  #contact {
    #form {
      padding: 0 10% 0 10%;
    }
    input {
      height: 60px;
    }
  } 
}