#location {
  height: 100vh;
  background: #F1F1E4;
  .row {
    height: 15%;
    width: 100%;
    margin: 0;
    z-index: 99;
    img {
      width: 10%;
      margin-right: 3%;
    }
    .col-12 {
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba($color: #fff, $alpha: 1.0);
    }
  }
  .map {
    width: 100%;
    height: 85%;
    .embed-responsive {
      width: 100%;
      height: 100%;
    }
  }
}
